<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitaCancelar</servlet-name>
        <servlet-class>cita.citaBD.CitaCancelar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visor</servlet-name>
        <servlet-class>Visor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProyecto</servlet-name>
        <servlet-class>AddProyecto</servlet-class>
    </servlet>
    <servlet><servlet-name>AddEmpresa</servlet-name><servlet-class>AddEmpresa</servlet-class></servlet>
    <servlet><servlet-name>ModEmpleado</servlet-name><servlet-class>ModEmpleado</servlet-class></servlet><servlet><servlet-name>DelEmpleado</servlet-name><servlet-class>DelEmpleado</servlet-class></servlet><servlet><servlet-name>DelEmpresa</servlet-name><servlet-class>DelEmpresa</servlet-class></servlet>
    <servlet>
        <servlet-name>ModEmpresa</servlet-name>
        <servlet-class>ModEmpresa</servlet-class>
    </servlet>
    <servlet><servlet-name>AddLider</servlet-name><servlet-class>AddLider</servlet-class></servlet>
    <servlet>
        <servlet-name>AddEmpleado</servlet-name>
        <servlet-class>AddEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitaCancelar</servlet-name>
        <url-pattern>/CitaCancelar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visor</servlet-name>
        <url-pattern>/Visor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProyecto</servlet-name>
        <url-pattern>/add_proyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmpresa</servlet-name>
        <url-pattern>/add_empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModEmpleado</servlet-name>
        <url-pattern>/edit_emple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelEmpleado</servlet-name>
        <url-pattern>/borrar_emple</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelEmpresa</servlet-name>
        <url-pattern>/borrar_empre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModEmpresa</servlet-name>
        <url-pattern>/edit_empre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLider</servlet-name>
        <url-pattern>/set_lider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmpleado</servlet-name>
        <url-pattern>/add_emple</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
